$screen: #efefef;


@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700);

$um-green: #005030;
$mid-green: #91a344;
$um-orange: #f17327;
$light-gray: #f5f5f5;
$mid-gray: #e6e6e6;
$highlight: #c2cc98;
$dark-gray: #5d5d5d;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
}


.banner {
    padding-bottom: 20px;
    padding-top: 20px;
    background: $light-gray;
    
}

.intro {
    h1 {
        font-size: 1.5rem;
    }
}

.browse-list {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1.4;
        li {
            padding: 0 0 0 10px;
            &:first-child {
                padding: 0;
                font-weight: bold;
            }
        }
    }
}

.underline {
    border-bottom: 1px solid #000;
}

.ct h3 {
    margin-top: 20px;
}

.phase {
    color: lighten(#000, 50%)
}

.off-canvas-content, .off-canvas-content {
        box-shadow: none;
}

.position-left.reveal-for-large {
    top: auto;
    padding: 8px;
    background: #fff;
    position: absolute;
//    margin-top: -38px;
}

.button-filter {
    padding: 4px;
    border-radius: 3px;
    margin-top: 5px;
}


#details {
    background: $screen;
    padding: 10px;
    
    h5 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 1em;
    }
}

.expand-header {
    margin-bottom: 0;
    padding: 6px;
    background: darken($screen, 10%);
    i {
        padding: 6px;
        text-shadow: 1px 1px 0 #fff;
    }
}

#contact {
    ul {
        list-style: none;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .button {
        margin: auto;
        display: block;
    }
}

// Gustavo's CSS

.search-term {
    margin-right: 15px;
}

.keyword {
    margin-right: 15px;
}



#landing-header {
    position: relative;
    border-top: 5px solid $um-orange;
    .landing-header-content {
          position: absolute;
          top: 10%; 
          padding: 40px 20px;
          left: 0px; 
          max-width: 800px;
            color: white;
    }
    
    text-shadow: 1px 1px 1px #000;
    .hero-header {
        font-size: 46px;
        text-transform: uppercase;
    }
    .hero-subheader {
        font-size: 24px;
        margin-top: 10px;
        a {
    color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    }
    
    .landing-img {
          width: 100%;
          position: relative; 
        }
}


.btn-search {
    background-color: $um-green;
}

.browse {
 padding-top: 20px;
    background: $light-gray;
    margin: auto;
    padding-bottom: 40px;
    
    .browse-categories {
        margin: auto;
        @media only screen and (min-width: 64.063em) {
        width: 80%;
        } 
    }
    .browse-section {
        margin-top: 15px;
        padding: 20px;
        h4 {
            border-top: 4px solid $mid-gray;
            padding-top: 10px;
            font-family: "helvetica", sans-serif;
            font-size: 18px;
            color: $dark-gray;
            font-weight: bold;
        }
    }
    
    a {
        color: $um-green;
        text-decoration: underline;
    }
h2 {
    color: $um-green;
    font-size: 36px;
    text-transform: uppercase;
}
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
}