<!-- banner-->
       <div class="row banner">
        <div class="small-6 large-3 columns"><img src="/img/logo.png" alt="South Florida Health Research"></div>
        <div class="small-6 large-offset-6 large-3 columns text-right"><img src="/img/ctsi.png" alt="University of Miami Clinical and Translational Science Intitute"></div>
    </div>
    <!--end banner-->