<% include header %>

<!--banner-->
    <div class="row banner">
        <div class="small-6 large-2 columns"><img src="http://placehold.it/200x100"></div>
        <div class="small-6 large-offset-8 large-2 columns text-right"><img src="http://placehold.it/200x100"></div>
    </div>
<!--end banner-->


<div class="row details" ng-controller="DetailsController">
      <div class="small-12 medium-9 columns">
    <a href="/search-results"><i class="fa fa-backward"></i> back to search results</a>
    <h4><span class="phase">{{ data.phase }}:</span> {{ data.official_title }}</h4>
    
    <p>{{ data.brief_summary }}</p>
    <h4 class="underline">Eligibility</h4>
    <h5>Age</h5>
    <p>Minimum: {{ data.minimum_age }} <br />
    Maximum: {{ data.maximum_age }} </p>
    <h5>Gender</h5>
    <p>{{ data.gender }}</p>
    <h5>Accepting healthy volunteers</h5>
    <p>{{ data.healthy_volunteers }}</p>

    <h5>Criteria</h5>
    <p style="white-space: pre;"> {{ data.inclusion_criteria }}</p>
    
   
    <h5 class="underline expand-header" id="details-headers">Details
<!--    <small class="float-right "><a class="small" id="expand">Expand</a></small>-->
    <i class="fa fa-plus-circle float-right" id="details-icons"></i>
    </h5> 
    <section id="details">
    <h5 ng-show="data.overall_outcome.length > 0">Overall Officials</h5>
    <div ng-repeat="official in data.overall_officials">
      <p>{{ official.last_name[0] }} ( {{ official.role[0] }} ) </p>
    </div>
    <h5>Primary outcome measures</h5>
    <ul ng-repeat="outcome in data.primary_outcome">
      <li>{{ outcome.measure[0] }}
      <ul>
        <li>Time frame: {{ outcome.time_frame[0] }}
        <li>Safety issue: {{ outcome.safety_issue[0] }}
      </ul>
    </ul>

    <h5 ng-show="data.secondary_outcome.length > 0">Secondary outcome measures</h5>
    <ul ng-repeat="outcome in data.secondary_outcome">
      <li>{{ outcome.measure[0] }}
      <ul>
        <li>Time frame: {{ outcome.time_frame[0] }}
        <li>Safety issue: {{ outcome.safety_issue[0] }}
      </ul>
    </ul>
    
    
    </section>
    <fieldset ng-show="data.keywords.length > 0" class="fieldset">
      <legend>Keywords</legend>
      <span class="keyword" ng-repeat="keyword in data.keywords"><a href="/search-results/{{ encodeURI(keyword) }}">{{ keyword }}</a></span>
    </fieldset>
  
     </div>  
      <div class="small-12 medium-3 columns">
    <fieldset ng-show="data.contact.last_name.length > 0" class="fieldset" id="contact">
        <legend>Contact Information</legend>
        Email or leave a message for the research coordinator to see if this trials is right for you. 
        <ul>
            <li>{{ data.contact.last_name[0] }}</li>
            <li>Call {{ data.contact.phone[0] }}</li>
            <li><a href="mailto:{{ data.contact.email[0] }}">{{ data.contact.email[0] }}</a></li>
        </ul>
        <a href="#" class="button" data-open="send-msg"><i class="fa fa-envelope-o"></i> Send a message</a>
    </fieldset>
    </div>  
</div>
    <div class="reveal" id="send-msg" data-reveal ng-controller="DetailsController">
        <h3>Send a message</h3>
        <p>
        to: <strong>{{ data.contact.last_name[0] }}</strong>
        </p>
        <p>Study:<br>
        <span>{{ data.official_title }}</span></p>
        
            <div>
            <label>Your name*:
              <input type="text" placeholder="Name">
            </label>
          </div>
          <div>
              <label>
                  Message*:
                  <textarea name="msg" cols="30" rows="10"></textarea>
                  <small style="margin-top: -15px; display: block;">* indicates a required field</small>
              </label>

          </div>
   
          <div style="margin-top: 15px;">
              Preferred method of contact:<br>
<input id="phone" type="checkbox"><label for="phone">Phone</label><br>
<div class="phone-msg">
    <label>Phone number:
        <input type="text" placeholder="Enter phone number here" />
    </label>
</div>
<input id="email" type="checkbox"><label for="email">Email</label>
<div class="email-msg">
    <label>Email:
        <input type="text" placeholder="Enter email here" />
    </label>
</div>   
          </div>
          <div>
            Send a copy of this message to myself: 
             <input id="copy" type="checkbox"><label for="copy">Yes</label>
          </div>
          <div>
              
          </div>
          <div>
              <a href="#" class="button">Send message</a>
              <p>
                  <small>This site does not store any personal information. Only the recipient of this message will have access to this information.</small>
              </p>
          </div>
     
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

<script>
  var data = <%- JSON.stringify(data) %>;
</script>

<% include footer %>