<% include header %>

<!--banner-->
    <div class="row banner">
        <div class="small-6 large-2 columns"><img src="http://placehold.it/200x100"></div>
        <div class="small-6 large-offset-8 large-2 columns text-right"><img src="http://placehold.it/200x100"></div>
    </div>
<!--end banner-->


<div class="row details">
      <div class="small-12 medium-9 columns">
    <a href="search-results.html"><i class="fa fa-backward"></i> back to search results</a>
    <h4><span class="phase">Phase 2:</span> Single-arm, Multicenter Trial to Determine the Efficacy and Safety of JCAR015 in Adult Subjects with Relapsed or Refractory B-Cell Acute Lymphoblastic Leukemia</h4>
    
    <p>       
This single-arm, multicenter Phase 2 trial will treat adult patients who have relapsed or refractory B-ALL with an infusion of the patient's own T cells that have been genetically modified to express a chimeric antigen receptor (CAR) that will bind to leukemia cells that express the CD19 protein on the cell surface. The study will determine if these modified T cells (called JCAR015) help the body's immune system eliminate leukemia cells. The trial will also study the safety of treatment with JCAR015, how long JCAR015 cells stay in the patient's body, the extent to which JCAR015 eliminates minimal residual disease, and the impact of this treatment on survival. 
    </p>
    <h4 class="underline">Eligibility</h4>
    <h5>Age</h5>
    16 years or older
    <h5>Gender</h5>
    Both
    <h5>Accepting healthy volunteers</h5>
    No
    <h5>Criteria</h5>
    
<ol>
    <li>Age ≥ 18 years at the time of consent </li>
    <li>Relapsed or refractory B-ALL, defined as:
    <ul>
       <li>First or greater bone marrow relapse from CR, or</li> 
       <li>Any bone marrow relapse after allogeneic hematopoietic stem cell transplant 
(HSCT); subjects must be at least 100 days from HSCT at the time of screening 
and off immunosuppressant medication for at least 1 month at the time of 
screening, and have no active graft-vs-host disease (GVHD), or </li>
   <li>Refractory B-ALL, defined by not having achieved a CR or CRi after two attempts 
at remission induction using standard chemotherapy regimens, or</li>
   <li>Ph+ B-ALL if subjects are intolerant to or ineligible for tyrosine kinase 
inhibitor (TKI) therapy, or have progressed after at least one line of TKI 
therapy</li>
    </ul></li>
    <li>Morphological evidence of disease in bone marrow (at least 5% blasts)</li>
    <li>Evidence of CD19 expression</li>
    <li>Eastern Cooperative Oncology Group (ECOG) performance status between 0 and 2 at the time of screening</li>
    <li>Adequate pulmonary, renal, hepatic, and cardiac function</li>
    <li>Adequate central or peripheral vascular access for leukapheresis procedure</li>
</ol>
   
    <h5 class="underline expand-header" id="details-headers">Details
<!--    <small class="float-right "><a class="small" id="expand">Expand</a></small>-->
    <i class="fa fa-plus-circle float-right" id="details-icons"></i>
    </h5> 
    <section id="details">
    <h5>Primary investigator</h5>
    <p><a href="http://uhealthsystem.com/doctors/profile/3684">Krishna Komanduri</a></p>
    <h5>Treatments</h5>
    <p>JCAR015</p>
    <h5>Primary outcome measures</h5>

<ul>
    <li>
        Changes from baseline in number of participants with colorectal, breast, and/or cervical cancer screening [ Time Frame: 12 month ] [ Designated as safety issue: No ]
        <ul>
            <li>Chart Review: Review of electronic medical records at each of the three community health centers</li>
            <li>Self-Report: We will ask participants about their participation (yes/no) in specific screening methods: Pap testing (past 3 years), mammography (past 2 years), and</li>
            <li>colorectal screening (FOBT/FIT, past year; flexible sigmoidoscopy, the past 5 years; and colonoscopy, past 10 years).</li>
        </ul>
    </li>
    <li>Change from Baseline in Patient Health Questionnaire (PHQ)-9 at 6 month [ Time Frame: 6 month ] [ Designated as safety issue: Yes ]</li>
    <li>The PHQ-9 is the 9-item depression module from the full PHQ, and is a well-validated Diagnostic and Statistical Manual of Mental Disorders 4th Edition (DSM-IV) criterion-based measure for screening and diagnosing depressive episode, assessing severity, and monitoring treatment response, either in person or over the phone.</li>
    <li>Change from Baseline in Patient Health Questionnaire (PHQ)-9 at 12 month [ Time Frame: 12 month ] [ Designated as safety issue: No ]</li>
    <li>The PHQ-9 is the 9-item depression module from the full PHQ, and is a well-validated Diagnostic and Statistical Manual of Mental Disorders 4th Edition (DSM-IV) criterion-based measure for screening and diagnosing depressive episode, assessing severity, and monitoring treatment response, either in person or over the phone.</li>
</ul>
    
    </section>
    <fieldset class="fieldset">
        <legend>Keywords</legend>
        <a href="#">Mental Disorders</a>, <a href="">Colorectal</a>, <a href="#">Bone Marrow</a>
    </fieldset>
  
     </div>  
      <div class="small-12 medium-3 columns">
    <fieldset class="fieldset" id="contact">
        <legend>Contact Information</legend>
        Email or leave a message for the research coordinator to see if this trials is rigth for you. 
        <ul>
            <li>Ashley Motta</li>
            <li>Call 305-284-6253</li>
            <li><a href="mailto:amotta@miami.edu">amotta@miami.edu</a></li>
        </ul>
        <a href="#" class="button" data-open="send-msg"><i class="fa fa-envelope-o"></i> Send a message</a>
    </fieldset>
    </div>  


</div>
    
    
    <div class="reveal" id="send-msg" data-reveal>
        <h3>Send a message</h3>
        <p>
        to: <strong>Ashley Motta</strong>
        </p>
        <p>Study:<br>
        <span>Single-arm, Multicenter Trial to Determine the Efficacy and Safety of JCAR015 in Adult Subjects with Relapsed or Refractory B-Cell Acute Lymphoblastic Leukemia</span></p>
        
            <div>
            <label>Your name*:
              <input type="text" placeholder="Name">
            </label>
          </div>
          <div>
              <label>
                  Message*:
                  <textarea name="msg" cols="30" rows="10"></textarea>
                  <small style="margin-top: -15px; display: block;">* indicates a required field</small>
              </label>

          </div>
   
          <div style="margin-top: 15px;">
              Preferred method of contact:<br>
<input id="phone" type="checkbox"><label for="phone">Phone</label><br>
<div class="phone-msg">
    <label>Phone number:
        <input type="text" placeholder="Enter phone number here" />
    </label>
</div>
<input id="email" type="checkbox"><label for="email">Email</label>
<div class="email-msg">
    <label>Email:
        <input type="text" placeholder="Enter email here" />
    </label>
</div>   
          </div>
          <div>
            Send a copy of this message to myself: 
             <input id="copy" type="checkbox"><label for="copy">Yes</label>
          </div>
          <div>
              
          </div>
          <div>
              <a href="#" class="button">Send message</a>
              <p>
                  <small>This site does not store any personal information. Only the recipient of this message will have access to this information.</small>
              </p>
          </div>
     
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

<% include footer %>