<% include header %>

<!--banner-->
    <div class="row banner">
        <div class="small-6 large-2 columns"><img src="http://placehold.it/200x100"></div>
        <div class="small-6 large-offset-8 large-2 columns text-right"><img src="http://placehold.it/200x100"></div>
    </div>
<!--end banner-->
    <div class="row intro">
        <div class="small-12 columns">
        <h1>Find a clinical research study</h1>
        <p>
            Use this StudyFinder website to quickly and easily identify studies that need volunteers. Every study is different – some need healthy volunteers, while others are looking for people with a specific condition – so we’ve created search filters to help you find the study that’s right for you. You can also filter by age, and search by keyword to find studies focused on specific conditions and diseases.By getting involved with research, you can help transform the lives of millions of people.
        </p>
        </div>
    </div>
    <div class="row search-home">
        <div class="small-12 columns">
            <ul class="tabs" data-tabs id="search-tabs">
               <li class="tabs-title is-active"><a href="#search" aria-selected="true">Search</a></li>
               <li class="tabs-title"><a href="#browse">Browse</a></li>
             </ul>
        <div class="tabs-content" data-tabs-content="search-tabs">
        <section class="tabs-panel is-active" id="search">
          <h3>Search</h3>
          The University of Miami is currently accepting patients form 593 clinical research.
          <div class="input-group">
        <input class="input-group-field" type="text">
        <div class="input-group-button">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>
        </section>
        <section class="tabs-panel" id="browse">
          <h3>Clinical Research Study Categories</h3>
          <div class="browse-categories row small-up-1 medium-up-2 large-up-4">
              <div class="column">
                  <img src="//placehold.it/300x300" class="thumbnail" alt="">
              </div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
          </div>
          <div>
              
          </div>
        </section>
      </div>
        </div>
    </div>
    <div class="row intro-video">
        <div class="small-12 columns">
            <div class="flex-video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/V9gkYw35Vws" frameborder="0" allowfullscreen></iframe>
      </div>
        </div>
    </div>
<% include footer %>