<% include header %>

<div id="spinner-div">
</div>

 <% include banner %>



<div class="row results-page" ng-controller="SearchResultsController">

 <div class="off-canvas-wrapper">
   <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>


     <!--filters-->  
     <aside class="off-canvas position-left reveal-for-large filters" id="offCanvas" data-off-canvas>
   
      
      <div class="lead"><a ng-click="resetFilters()" class="float-right small white bump10" id="uncheck">Clear All</a>Filters</div>
      <div class="lead-gray">Eligibility</div>
 

      <fieldset class="fieldset-filter radio-group button-group">
        <legend>Gender</legend>
        <div style="margin-left: -10px; margin-right: -10px;">
        <div class="button">
        <input id="female" type="radio" name="gender" ng-model="filters.gender" value="Female" ><label for="female">Female</label>
          </div>
          <div class="button">
        <input id="male" type="radio" name="gender" ng-model="filters.gender" value="Male"><label for="male">Male</label>
          </div>
          <div class="button">
        <input id="both" type="radio" name="gender" ng-model="filters.gender" value="Both"><label for="both">All</label>
        </div>
        </div>
      </fieldset>
      <fieldset class="fieldset-filter radio-group button-group">
        <legend>Age</legend>
        <input id="under18" type="checkbox" ng-model="filters.age['Child']" checked><label for="under18">Children (age &lt; 18)</label><br>
        <input id="over18" type="checkbox" ng-model="filters.age['Adult']" checked><label for="over18">Adults (age &gt; 18)</label><br>
        {{ filters.minAge }}
        {{ filters.maxAge }}
      </fieldset>
      <fieldset class="fieldset">
        <legend>Volunteer Health</legend>
        <input id="healthy" type="checkbox" ng-model="filters.health['Accepts Healthy Volunteers']" checked><label for="healthy">Healthy</label><br>
        <input id="prev-diag" type="checkbox" ng-model="filters.health['No']" checked><label for="prev-diag">Previously Diagnosed</label><br>
      </fieldset> 
      <h4 class="underline">Trial filters</h4> 
      <fieldset class="fieldset">
        <legend>Phase</legend>
        <input id="p1" type="checkbox" ng-model="filters.phases['Phase 1']" checked><label for="p1">Phase 1</label><br>
        <input id="p2" type="checkbox" ng-model="filters.phases['Phase 2']" checked><label for="p2">Phase 2</label><br>
        <input id="p3" type="checkbox" ng-model="filters.phases['Phase 3']" checked><label for="p3">Phase 3</label><br>
        <input id="p4" type="checkbox" ng-model="filters.phases['Phase 4']" checked><label for="p4">Phase 4</label><br>
        <input id="pn" type="checkbox" ng-model="filters.phases['N/A']" checked><label for="pn">Not Specified</label><br>
      </fieldset>
      <label><h4 class="underline">Show studies updated:</h4>
        <select ng-model="lastUpdated">
          <option value="0" selected>Any time</option>
          <option value="180">Last six months</option>
          <option value="90">Last three months</option>
          <option value="30">Last month</option>
        </select>
      </label>
    </aside>
    <!--end filters-->
    <div class="small-12 medium-9 columns off-canvas-content" data-off-canvas-content>
      <div class="row">
       <div class="small-12 columns">
         <button type="button" class="button button-filter hide-for-large" data-toggle="offCanvas"><i class="fa fa-filter"></i> filters</button>

<!--
         <fieldset  class="fieldset">
           <legend>New Search:</legend>
-->
           <% include search %>
         
<!--        </fieldset>-->
      </div>
  
       
        <div class="small-12 columns">
         <h1>Search Results</h1>
          <h5 class="results-for"><strong>{{ data.numMatches }} research studies</strong> found for <strong>{{ data.query }}</strong> and {{ filtered.length }} match your eligibility filters</h5>
        </div>
      </div>
      
     <div class="row">
          <div class="small-12 columns">
           <div class="related">Related searches</div>
          <span ng-repeat="term in data.related" class="search-term">
            <a href="/search-results/{{ encodeURI(term) }}">{{ term }}</a>{{$last ? '' : ($index==data.length-2) ? ' and ' : ', '}}
            
            
          </span>
      </div>
     </div>
     <div class="row bump20">
         <div class="small-12 medium-9 columns sortBy">Sort by</div>
         <div class="small-12 medium-3 columns sortByPull"> 
         <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
         <select ng-model="sortType">
          <option value="relevance" selected>Relevance </option>
          <option value="newestToOldest">Newest to oldest</option>
          <option value="oldestToNewest">Oldest to newset</option>
          <option value="alphabetical">Alphabetical</option>
        </select></div>
     </div>

    <!-- Search Results Listing -->
    <div id="results" ng-show="showResults">
      <div class="row  ct" ng-repeat="study in data.results | orderBy: sortFunction | filter: combinedFilter as filtered">
         <search-result></search-result>
       </div>
    </div>
</div>

<a class="exit-off-canvas"></a>

</div>
</div>


</div>

<script>
  var data = <%- JSON.stringify(data) %>;
</script>

<% include footer %>